<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Codiscovery-node-mysql</title>
    <link href="../../public/css/login.css" rel="stylesheet" />
    {{!--
    <link href="/css/style.css" rel="stylesheet" /> --}}
</head>

<body>
    {{{body}}}
</body>

</html>