<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Staf</title>
</head>

<body>
    <form>
        <div>
            <label>Name</label>
            <input type="text" name="username" />
        </div><br>
        <div>
            <label>Email</label>
            <input type="text" name="email" />
        </div><br>
        <div>
            <label>City</label>
            <input type="text" name="city" />
        </div><br>
        <div>
            <label>Password</label>
            <input type="password" name="password" />
        </div><br>
        <button type="submit">SAVE</button>
    </form>
</body>

</html>